//Colors//

$side-panel: #5B605F; // panel boczny, nawigacja //
$header: #4a4a49; // nagłówek, , kolor tekstu w kolumnach //
$buttons: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów //
$background-screens: #FFFFFA; // kolor tła ekranów //
$messages-info: #3498DB; // kolor wiadomości typu info//
$messages-warning: #FFB03B; //kolor wiadomości typu warning//
$messages-success: #468966; //kolor wiadomości typu success//
$trash-icon: #BD4932; // kolor ikony kosza //
$fonts-table: #A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji//
$buttons-hover: #d1550a;

// Fonts //

//@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





$font-charmonman: "Charmonman";


$font-open_sans: "Open Sans";
