body {
  background-image: url("../../src/images/_tlo_aplikacji.png");
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 1;
}
//trzeba ustawić sąsiadująco w pionie i poziomie na całą stronę?//